.feature-grid {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--spacing) / 4) calc(var(--spacing) / 2 * -1);
}

.feature-box { 
    position: relative;
    width: calc(100% - var(--spacing));
    margin: calc(var(--spacing)/4) calc(var(--spacing)/2);
    overflow: hidden;
    text-decoration: none;
    min-height: 5rem;
    display: flex;
    align-items: center;
}

.feature-box:focus {
    box-shadow: inset 0px 0px 0px 5px var(--accessible-color);
}

.feature-box__img { 
    position: absolute;
    width: 100%;
    z-index: -1;
}

.feature-box__text {
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--secondary-color);
    padding: calc(var(--spacing)/2) var(--spacing);
    text-align: center;
    text-shadow: 1px 1px 20px var(--primary-color);
}

@media only screen and (min-width: 25rem) {
    .feature-grid {
        margin: calc(var(--spacing) / 2) calc(var(--spacing) / 2 * -1);
    }
    .feature-box { 
        margin: calc(var(--spacing)/2);
    }
}

@media only screen and (min-width: 45rem) {
    .feature-box { 
        width: calc((100% / 2) - var(--spacing));
    }
}

@media only screen and (min-width: 70rem) {
    .feature-box { 
        width: calc((100% / 3) - var(--spacing));
    }
    .feature-box__text {
        font-size: 1.5rem;
    }
}